.about{
    color:white;
    margin-right: 70px;
    font-family: 'avengeance' sans-serif;
    margin-top: 25px;
}

.contact{
    color:white;
    margin-right:70px;
    font-family: 'avengeance' sans-serif;
    margin-top: 25px;
}

.home{
    color:white;
    margin-left: auto;
    margin-right: 70px;
    font-family: 'avengeance' sans-serif;
    margin-top: 25px;
}